*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container-fluid {
  background-color: rgb(202, 192, 219);
}
.navbar-brand {
  font-size: x-large;
  color: crimson;
  font-family: inherit;
  font-size: xx-large;
  font-weight: bold;
}
.navbar-nav > li {
  text-size-adjust: 60px;
  background-color: rgb(229, 216, 235);
}
.container {
  color: rgb(98, 73, 122);
}

.Container {
  align-self: center;
  margin: 10px;
  padding: 10px;
}
.col {
  color: rgb(39, 7, 248);
  font-size: xx-large;
  font-weight: bold;
}
.Headerr {
  font-size: small;
  text-align: center;
  font-style: italic;
  font-family: unset;
  color: rgb(5, 17, 97);
}
.card-text {
  color: rgb(4, 4, 4);
  font-size: small;
}

.Progres {
  text-align: center;
  color: rgb(9, 9, 9);
  font-size: larger;
  font-weight: bold;
  font: serif;
}

.container {
  display: flex;
  align-items: center;
}

.bulatan1 {
  width: 20px;
  height: 20px;
  background-color: rgb(57, 90, 68);
  border-radius: 50%;
  margin-right: 4px;
}

.bulatan2 {
  width: 20px;
  height: 20px;
  background-color: rgb(89, 216, 214);
  border-radius: 50%;
  margin-right: 4px;
}

.bulatan3 {
  width: 20px;
  height: 20px;
  background-color: rgb(244, 180, 29);
  border-radius: 50%;
  margin-right: 4px;
}

.teks {
  font-size: 16px;
}

.tekss {
  font-size: x-large;
}
